In [ ]:
!pip install sqldf

### Import

In [1]:
import pandas as pd
aimport matplotlib.pyplot as plt
from datetime import datetime
import numpy as np

### Load dataset

In [2]:
donnee = pd.read_csv('dataset.csv')

In [27]:
donnee

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01,3.39,17850,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09,0.85,12680,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09,2.10,12680,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09,4.15,12680,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09,4.15,12680,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09,4.95,12680,France

### Data Cleaning

In [15]:
#Remplacer les valeurs vides par 0 pour les colonnes de type entier ou floar
donnee[['InvoiceNo', 'Quantity', 'UnitPrice', 'CustomerID']]=donnee[['InvoiceNo', 'Quantity', 'UnitPrice', 'CustomerID']].fillna(0)

In [18]:
donnee['InvoiceDate'] = pd.to_datetime(donnee['InvoiceDate'], errors='coerce')

In [21]:
donnee['InvoiceDate']= donnee['InvoiceDate'].dt.strftime("%Y-%m-%d")

In [23]:
donnee['CustomerID']= donnee['CustomerID'].astype(int)

In [25]:
donnee['UnitPrice']=donnee['UnitPrice'].apply(lambda x: x.replace(',', '.'))

In [26]:
donnee['UnitPrice'] = donnee['UnitPrice'].astype(float)

In [29]:
donnee['Quantity'] = donnee['Quantity'].abs()

In [32]:
donnee['year'] = pd.DatetimeIndex(donnee['InvoiceDate']).year
donnee['month'] = pd.DatetimeIndex(donnee['InvoiceDate']).month
donnee['day'] = pd.DatetimeIndex(donnee['InvoiceDate']).day

In [33]:
donnee.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,year,month,day
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,2.55,17850,United Kingdom,2010,12,1
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01,3.39,17850,United Kingdom,2010,12,1
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01,2.75,17850,United Kingdom,2010,12,1
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01,3.39,17850,United Kingdom,2010,12,1
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01,3.39,17850,United Kingdom,2010,12,1

In [34]:
donnee = donnee.drop_duplicates()

In [35]:
donnee

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,year,month,day
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,2.55,17850,United Kingdom,2010,12,1
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01,3.39,17850,United Kingdom,2010,12,1
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01,2.75,17850,United Kingdom,2010,12,1
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01,3.39,17850,United Kingdom,2010,12,1
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01,3.39,17850,United Kingdom,2010,12,1
...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09,0.85,12680,France,2011,12,9
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09,2.10,12680,France,2011,12,9
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09,4.15,12680,France,2011,12,9
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09,4.15,12680,France,2011,12,9
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09,4.95,12680,France,2011,12,9

> RÃ©ponses aux questions

<h2 style="color: red"> Question 1 </h2>

In [36]:
requete = """
SELECT CustomerID, InvoiceNo, avg(Quantity) as moyenne_quantity
FROM donnee
group by CustomerID, InvoiceNo
"""

In [37]:
question_1 = sqldf.run(requete)

In [38]:
question_1

       CustomerID InvoiceNo  moyenne_quantity
0               0    536414         56.000000
1               0    536544          2.292220
2               0    536545          1.000000
3               0    536546          1.000000
4               0    536547          1.000000
...           ...       ...               ...
25895       18283    579673          2.640000
25896       18283    580872          2.840000
25897       18287    554065         16.827586
25898       18287    570715         26.052632
25899       18287    573167         36.000000

[25900 rows x 3 columns]